<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desafio Node</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body class="bg-gradient-to-br from-blue-500 to-purple-600 flex items-center justify-center min-h-screen">
  
  <!-- Container de Login -->
  <main class="w-full max-w-md p-8 bg-white rounded-xl shadow-xl">
    @!section('content')
  </main>

  <!-- Scripts -->
  @!section('scripts')

  <script>
    lucide.createIcons();
  </script>
</body>
</html>
